*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --background: #6b196b;
    font-size: 62.5%;
}



body{
    background: var(--background);
    font-size: 1.6rem;
}

button{
    cursor: pointer;
}
